.body_container{
    display: grid;
    grid-template-columns: 328px 328px;
    gap: 24px;
    padding-left: 24px;
    padding-top: 33px;
}
.buttom_container{
    margin-left: 24px;
    padding-top: 24px;

}
.button{
    width: 152px;
    height: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #1665D8;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 4px
}
.button:disabled{
    color: #1665D8;
    background: #ffff;
}
.body_container input{
    width: 328px;
    height: 56px;
    border: 1px solid rgba(0, 0, 0, 0.32);
    border-radius: 4px;
}
.contain_error{
    font-size: medium;
    color: red;
}
@media (max-width: 320px){
    .body_container{
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 8px;
        padding-top: 15px;
        font-size: 6px;
        gap: 10px;
    }
    .buttom_container{
        margin-left: 24px;
        padding-top: 24px;
    }
    .button{
        width: 60px;
        height: 15px;
        font-size: 5px;
        line-height: 5px;
    }
    .body_container input{
        width: 150px;
        height: 10px;
        font-size: 8px;
    }
    .contain_error{
        font-size: 6px;
    }
    
}
