.profile{
    padding-left: 28px ;
    padding-top: 28px;
    display: grid;
    grid-template-columns: 375px 910px;
    grid-template-areas: 
    'p b'
    'none n';
    gap: 28px 28px;  
}
@media (max-width: 320px){
    .profile{
        width: 220px;
        padding-left: 5px ;
        padding-top: 12px;
        display: grid;
        grid-template-columns: 90px 120px;
        grid-template-areas: 
        'p p'
        'b b'
        'n n';
        gap: 5px 5px;  
    }
}