.profile{
    margin-top: 28px;
    margin-left: 28px;
    display: grid;
    grid-template-columns: 375px 910px;
    grid-template-areas: 
    'p b'
    'none n';
    gap: 28px 28px;  
}
@media (max-width: 414px){
    .profile{
        margin-top: 15px;
        margin-left: 15px;
        display: grid;
        grid-template-areas: 
        'p p'
        'b b'
        'n n';
        gap: 5px;  
    }
}
@media (max-width: 375px){
    .profile{
        margin-top: 10px;
        margin-left: 10px;
        padding-right: 10px;
        display: grid;
        grid-template-areas: 
        'p p'
        'b b'
        'n n';
        gap: 5px;  
    }
}
@media (max-width: 320px){
    .profile{
        margin-top: 5px;
        margin-left: 5px;
        padding-right: 10px;
        display: grid;
        grid-template-areas: 
        'p p'
        'b b'
        'n n';
        gap: 5px;  
    }
}