.saidBar{
    grid-area: s;
    width: 270px;
    height: 1016px;
}
.avatar{
    height: 156px;
    width: 112px;
    margin: 24px auto;
}
.avatar img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.initials{
    height: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #3A3B3F; 
}
.position{
    height: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #9EA0A5;
}
.position::after{
    content: "";
    display: block;
    width: 238px;
    height: 1px;
    background: #E4E7EB;
    margin-top: 23px;
    margin-left: -65px;
}
.navMenu{
    height: 316px;
    width: 238px;
    margin: 0 auto;
    margin-left: 55px;
}
.menu_items{
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
    text-align: left;
    color: #66788A;
}
.menu_items::after{
    content: "";
    display: block;
    width: 238px;
    height: 1px;
    background: #E4E7EB;
    margin-top: 65px;
    margin-left: -80px;
}
.supportMenu{
    height: 94px;
    width: 238px;
    left: 16px;
    top: 560px;
}
.supportMenu span{
    margin-left: 31px;
    font-family: Roboto;
    font-size: 13px;
    text-align: left;
    color:rgba(0, 0, 0, 0.329);  
}
.supportMenu li{
    font-family: Roboto;
    font-size: 14px;
    text-align: left;
    color: rgba(102, 120, 138, 1);
    margin-left: 55px;
}