.saidBar{
    grid-area: s;
}
.avatar{
    height: 156px;
    width: 112px;
    margin: 24px auto;
}
.avatar img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.initials{
    height: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #3A3B3F; 
}
.position{
    height: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #9EA0A5;
}
.position::after{
    content: "";
    display: block;
    width: 238px;
    height: 1px;
    background: #E4E7EB;
    margin-top: 23px;
    margin-left: -65px;
}
.navMenu{
    width: 100%;
    margin: 0 auto;
    margin-left: 55px;
}
.menu_items{
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
    text-align: left;
    color: #66788A;
}
.menu_items::after{
    content: "";
    display: block;
    width: 238px;
    height: 1px;
    background: #E4E7EB;
    margin-top: 65px;
    margin-left: -80px;
}
.supportMenu{
    height: 94px;
    width: 238px;
    
}
.supportMenu span{
    margin-left: 31px;
    font-family: Roboto;
    font-size: 13px;
    text-align: left;
    color:rgba(0, 0, 0, 0.329);  
}
.supportMenu li{
    font-family: Roboto;
    font-size: 14px;
    text-align: left;
    color: rgba(102, 120, 138, 1);
    margin-left: 55px;
}
@media (max-width: 375px){
    .saidBar br{
     display: none;
 }
 .avatar{
     height: 70px;
     width: 50px;
     margin: 10px auto;
 }
 .avatar img{
     height: 50px;
     width: 50px;
 }
 .initials{
     height: 10px;
     font-size: 7px;
     line-height: 10px;
 }
 .position{
     font-size: 6px;
     line-height: 8px;
 }
 .position::after{
     width: 90px;
     margin-top: 5px;
     margin-left: -20px;
 }
 .navMenu{
     margin-left: 5px;
 }
 .menu_items{
 margin-top: 25px;
 font-size: 7px;
 line-height: 15px;
 }
 .menu_items::after{
     width: 90px;
     margin-top: 5px;
     margin-left: -40px;
 }
 .supportMenu{
     width: 100px;
 }
 .supportMenu span{
     font-size: 7px;
     text-align: left;  
 }
 .supportMenu li{
     font-size: 6px;
     margin-left: 15px;
 } 
}
@media (max-width: 320px){
       .saidBar br{
        display: none;
    }
    .avatar{
        height: 70px;
        width: 50px;
        margin: 10px auto;
    }
    .avatar img{
        height: 50px;
        width: 50px;
    }
    .initials{
        height: 10px;
        font-size: 7px;
        line-height: 10px;
    }
    .position{
        font-size: 6px;
        line-height: 8px;
    }
    .position::after{
        width: 90px;
        margin-top: 5px;
        margin-left: -20px;
    }
    .navMenu{
        margin-left: 5px;
    }
    .menu_items{
    margin-top: 25px;
    font-size: 7px;
    line-height: 15px;
    }
    .menu_items::after{
        width: 90px;
        margin-top: 5px;
        margin-left: -40px;
    }
    .supportMenu{
        width: 100px;
    }
    .supportMenu span{
        font-size: 7px;
        text-align: left;  
    }
    .supportMenu li{
        font-size: 6px;
        margin-left: 15px;
    } 
}