.item_container{
    grid-area: n;
    width: 910px;
    height: 414px;
    background: #FFFFFF;
    border: 1px solid rgba(63, 63, 68, 0.005);
    box-shadow: 0px 1px 0px rgba(63, 63, 68, 0.05), 0px 1px 3px rgba(63, 63, 68, 0.15);
    border-radius: 4px;
}
.item_header{
    height: 71px;
}
.item_header::after{
    content: "";
    display: block;
    height: 1px;
    background: #E4E7EB;
    margin-top: 27px;
}
.header_container{
    padding-top: 26px;
    padding-left: 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    color:  #66788A;
}
.header_container span{
    padding-right: 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.05px;
    text-align: left;
    color: #3A3B3F;
}
.item_body{
    height: 253px;
    padding-left: 24px;
    display: grid;
    grid-column-gap: 25px;
    grid-template-columns: 250px 250px;
    grid-template-rows: 100%;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-align: left;
}
.item_body::after{
    content: "";
    display: block;
    width: 910px;
    height: 1px;
    background: #E4E7EB;
    margin-left: -24px;
}
.item_footer{
    height: 88px;
}
.buttom_container{
    margin-left: 24px;
    padding-top: 24px;
}
.button{
    height: 40px;
    width: 120px;
    border-radius: 4px;
    font-size: 14px;
    font-style: medium;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-align: center;
    color: #1665D8;
    background: #ffff;
}
.item_body input{
    width: 18px;
    height: 18px;   
}
.item_body h2{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.05px;
    text-align: left;  
}
@media (max-width: 414px){
    .item_container{
        width: 260px;
        height: 180px;
    }
    .item_header{
        height: 17px;
    }
    .item_header::after{
        margin-top: 2px;
    }
    .header_container{
        padding-top: 1px;
        padding-left: 10px;
        font-size: 7px;
    }
    .header_container span{
        padding-right: 16px;
        font-size: 11px;
        line-height: 16px;
    }
    .item_body{
        height: 125px;
        padding-left: 10px;
        padding-top: 5px;
        grid-column-gap: 10px;
        grid-template-columns: 50% 50%;
        font-size: 8px;
        line-height: 7px;
    }
    .item_body::after{
        width: 260px;
        height: 1px;
        margin-left: -10px;
    }
    .item_footer{
        height: 20px;
    }
    .buttom_container{
        height: 15px;
        margin-left: 10px;
        padding-top: 0px;
    }
    .button{
        width: 70px;
        height: 20px;
        font-size: 7px;
        line-height: 4px;
    }
    .item_body input{
        width: 11px;
        height: 11px;   
    }
    .item_body h2{
        font-size: 10px;
        line-height: 5px;
    }
}
@media (max-width: 375px){
    .item_container{
        width: 220px;
        height: 180px;
    }
    .item_header{
        height: 15px;
    }
    .item_header::after{
        margin-top: 2px;
    }
    .header_container{
        padding-top: 1px;
        padding-left: 10px;
        font-size: 6px;
    }
    .header_container span{
        padding-right: 16px;
        font-size: 10px;
        line-height: 16px;
    }
    .item_body{
        height: 135px;
        padding-left: 10px;
        padding-top: 5px;
        grid-column-gap: 10px;
        grid-template-columns: 50% 50%;
        font-size: 7px;
        line-height: 7px;
    }
    .item_body::after{
        width: 220px;
        height: 1px;
        margin-left: -10px;
    }
    .item_footer{
        height: 20px;
    }
    .buttom_container{
        height: 15px;
        margin-left: 10px;
        padding-top: 0px;
    }
    .button{
        width: 60px;
        height: 15px;
        font-size: 5px;
        line-height: 5px;
    }
    .item_body input{
        width: 10px;
        height: 10px;   
    }
    .item_body h2{
        font-size: 9px;
        line-height: 5px;
    }
}
@media (max-width: 320px){
    .item_container{
        width: 200px;
        height: 180px;
    }
    .item_header{
        height: 15px;
    }
    .item_header::after{
        margin-top: 2px;
    }
    .header_container{
        padding-top: 1px;
        padding-left: 10px;
        font-size: 6px;
    }
    .header_container span{
        padding-right: 16px;
        font-size: 10px;
        line-height: 16px;
    }
    .item_body{
        height: 135px;
        padding-left: 10px;
        padding-top: 5px;
        grid-column-gap: 10px;
        grid-template-columns: 50% 50%;
        font-size: 7px;
        line-height: 7px;
    }
    .item_body::after{
        width: 200px;
        height: 1px;
        margin-left: -10px;
    }
    .item_footer{
        height: 20px;
    }
    .buttom_container{
        height: 15px;
        margin-left: 10px;
        padding-top: 0px;
    }
    .button{
        width: 60px;
        height: 15px;
        font-size: 5px;
        line-height: 5px;
    }
    .item_body input{
        width: 10px;
        height: 10px;   
    }
    .item_body h2{
        font-size: 9px;
        line-height: 5px;
    }
}



