.item_container{
    grid-area: p;
    height: 249px;
    width: 375px;
    background: #FFFFFF;
    border: 1px solid rgba(63, 63, 68, 0.005);
    box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15);
    border-radius: 4px;
}
.inform{
    display: grid;
    height: 188px;
    grid-template-columns: 1fr 1fr;
}
.informItems{
    width: 146px;
    height: 78px;
    margin: 24px 0 0 24px;
}
.avatar{
    margin: 24px auto;
}
.inform img{
    height: 140px;
    width: 140px;
    border-radius: 13px;
}
.personName{
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    
}
.geolocation{
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color:rgba(158, 160, 165, 1);
    margin: 15px auto;
}
.footer{
    height: 60px;
}
.footer::before{
    content: "";
    display: block;
    height: 1px;
    background: #E4E7EB;
}
.footerItems{
    display: flex;
    justify-content: space-between;  
    margin: 10px 41px 0 41px;
}
.footer button{
    height: 40px;
    width: 147px;
    border-radius: 4px; 
    font-family: Roboto;
    font-size: 12px;
    letter-spacing: 1.25px;
    text-align: center;
    color:rgba(22, 101, 216, 1);
    border: none;
    background: none;
}
@media (max-width: 320px){
    .item_container{
        grid-area: p;
        width: 200px;
        height: 100px;
    }
    .inform{
        display: grid;
        height: 75px;
        grid-template-columns: 1fr 1fr;
    }
    .informItems{
        width: 80px;
        height: 45px;
        margin: 15px 0px 15px 25px;
    }
    .avatar{
        margin: 5px auto;
    }
    .inform img{
        height: 60px;
        width: 60px;
        border-radius: 11px;
    }
    .personName{
        font-size: 12px;
        line-height: 6px;
        
    }
    .geolocation{
        font-size: 7.5px;
        line-height: 15px;
        margin: 5px auto;
    }
    .footer{
      height: 25px;
    }
    .footerItems{
        display: flex;
        justify-content: space-between;  
        margin: 5px 10px 0 41px;
    }
    .footer button{
        height: 15px;
        width: 70px;
        border-radius: 4px; 
        font-size: 6px;
        letter-spacing: 2.5px;
        
    }
}