.app-wrapper{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 270px 1fr;
  grid-template-areas: 
  'h h'
  's n'
  's c';
}
.app-wrapper-content{
  grid-area: c;
  width: 100%;
  background: #F9FAFB;
}

@media (max-width: 375px) {
  .app-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 260px;
    grid-template-areas: 
    'h h'
    's n'
    's c';
  }
} 
@media (max-width: 320px){
  .app-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 220px;
    grid-template-areas: 
    'h h'
    's n'
    's c';
  }
}