.app-wrapper{
  width: 1920px;
  height: 1080px;
  display: grid;
  grid-template-areas: 
  'h h'
  's n'
  's c';
}

.app-wrapper-content{
  grid-area: c;
  width: 1650px;
  height: 959px;
  background: #F9FAFB;
}